<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sach san pham</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <table border="1" class="products">
           
            <!-- {% for item in countproducts %}
            <tr>
              <td>{{ item.maPhim }}</td>
              <td>{{ item.tenTiengViet }}</td>
              <td>{{ item.tenTiengAnh }}</td>
              <td>{{ item.ngayPhatHanh }}</td>
              <td>{{ item.thoiLuong }}</td>
              <td>{{ item.quocGia }}</td>
              <td>{{ item.theLoai }}</td>
              <td>{{ item.moTa }}</td>
            </tr>
            {% endfor %} -->
        <!-- </table>
        {% for item in countproducts %}
        <div class="movie-item-style-2">
            <img src="images/uploads/mv1.jpg" alt="">
            <div class="mv-item-infor">
                <h6><a href="moviesingle_light.html">{{item.tenTiengViet}} <span>{{ item.ngayPhatHanh }}</span></a></h6>
                <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                <p class="describe">Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
                <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                <p>Director: <a href="#">Joss Whedon</a></p>
                <p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
            </div>
        </div>
        
        {% endfor %}
    </div>
</body>
</html> --> -->